<a href="https://colab.research.google.com/github/2303A51680/b23_1680/blob/main/class%20work(26-08-25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
data=[10,20,30,40,50]
series=pd.Series(data)
print("Pandas Series")
print(series)

Pandas Series
0    10
1    20
2    30
3    40
4    50
dtype: int64

series with custom index

In [5]:
import pandas as pd
data=[10,20,30,40,50]
index_labels=['a','b','c','d','e']
series=pd.Series(data,index=index_labels)
print("Pandas Series")
print(series)

Pandas Series
a    10
b    20
c    30
d    40
e    50
dtype: int64

creating a dataframe

In [18]:
import pandas as pd
data={
    'name':['alice','bob','charlie','david'],
    'age':[25,30,35,40],
    'city':['hyderabad','delhi','chennai','mumbai']
}
df=pd.DataFrame(data)
print(df)

      name  age       city
0    alice   25  hyderabad
1      bob   30      delhi
2  charlie   35    chennai
3    david   40     mumbai

basic dataframe operations
a) accessing data

In [10]:
print(df['name'])
print(df[['name','city']])
print(df.iloc[1])
print(df.loc[2])

0      alice
1        bob
2    charlie
3      david
Name: name, dtype: object
      name       city
0    alice  hyderabad
1      bob      delhi
2  charlie    chennai
3    david     mumbai
name      bob
age        30
city    delhi
Name: 1, dtype: object
name    charlie
age          35
city    chennai
Name: 2, dtype: object

b) adding a new column

In [11]:
df['salary']=[40000,50000,60000,70000]
print(df)

      name  age       city  salary
0    alice   25  hyderabad   40000
1      bob   30      delhi   50000
2  charlie   35    chennai   60000
3    david   40     mumbai   70000

removing a column

In [12]:
df=df.drop('city',axis=1)
print(df)

      name  age  salary
0    alice   25   40000
1      bob   30   50000
2  charlie   35   60000
3    david   40   70000

d) filtering data

In [14]:
print(df[df['age']>30])

      name  age  salary
2  charlie   35   60000
3    david   40   70000

e) basic statistics

In [16]:
print(df['age'].mean())
print(df['age'].max())
print(df['age'].min())

32.5
40
25